#parent{
  border: 2px  solid salmon;
  height: 650px;
  display: grid;
  gap: 5px;
  grid-template-columns: 200px 300px 400px;
  grid-template-rows: 200px 200px ;
  /* grid-auto-rows: 50px;
  grid-auto-flow: column;
  /* grid-auto-columns: 50px; */ */

}
#parent div{
/* height: 100px; */
}
#parent div:nth-of-type(1){
  background-color:red;
  grid-column-start: 3;
  grid-column-end: 3;
  /* gap: 10px; */
  row-gap: 10px;
  /* grid-row-start: 2;
  grid-row-end: 3; */
  /* grid-column: 2/3; */


}

#parent div:nth-of-type(2){
  background-color:green;
}
#parent div:nth-of-type(3){
  background-color:yellow;
}
#parent div:nth-of-type(4){
  background-color:black;
}

#parent div:nth-of-type(5){
  background-color:blueviolet;
}
#parent div:nth-of-type(6){
  background-color: orange;
}
#parent div:nth-of-type(7){
  background-color: darkorchid;
}
#parent div:nth-of-type(8){
  background-color: orchid;
}
#parent div:nth-of-type(9){
  background-color: royalblue;
}
#parent div:nth-of-type(10){
  background-color:blanchedalmond;
}