<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>  
        <legend> form</legend>
    <form action="/user" method="POST">

        <input type="text" name="username"  placeholder="Enter your username"/>
        <br>
        <br>

        <input type="text" name="comment"  placeholder="Enter your comment"/>
        <br>
        <br>
        <button type="submit"> add</button>

    </form>
</fieldset>
</body>
</html>