<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>GET</legend>
    <form action="/user" method="GET">
        <input type="text" name="username" placeholder="Enter your name"/>
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter your password"/>
  <br>
  <br>

        <button type="submit">click</button>
    </form>
</fieldset>
<fieldset>
    <legend>POST</legend>
    <form action="/user" method="POST">

        <input type="text" name="username" placeholder="Enter your name"/>
        <br>
        <br>
        <input type="password" name="password" placeholder="Enter your password"/>
  <br>
  <br>

        <button type="submit">click</button>
    </form>
</fieldset>
</body>
</html>