<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<%   for(let i of comments){ %>
    <div id="parent"> 
    <h1> <%=i.id %></h1>
    <h6> <%=i.username %></h6>
    <h6> <%=i.comment %></h6>
</div>
  <% } %>
</body>
</html>