<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

<fieldset>
    <legend> GET</legend>
    <form action="/user" method="GET">
        <input  type="text"  name="username" placeholder="Enter your name"/>
        <br/>
        <br/>
        <input  type="number"  name="age" placeholder="Enter your age"/>
    <br/>
    <br/>
<button>  save</button>
</fieldset>

<fieldset>  
    <legend>POST</legend>
    </form>
    <form action="/user" method="POST">
        <input  type="text"  name="username" placeholder="Enter your name"/>
        <br/>
        <br/>
        <input  type="number"  name="age" placeholder="Enter your age"/>
    <br/>
    <br/>
<button>  save</button>
    </form>
</fieldset>
</body>
</html>