<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2> show fileee</h2>
    <div>
        <h2> <%=newArr.id %></h2>
        <p><%=newArr.username %> </p>
        <p><%=newArr.comment %> </p>

    </div>
</body>
</html>