<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>GET</legend>
    <form action="/user" method="GET">
        <input name="username"  type="text "  placeholder="Enter your name"/>
        <br>
        <br>
        <input  type="password"   name="pass" placeholder="Enter your password"/>
        <br>
        <br>
        <button type="submit">send </button>
    </form>
</fieldset>

<fieldset>
    <legend>post</legend>
<form action="/user" method="POST">
    <input name="username"  type="text "  placeholder="Enter your name"/>
    <br>
    <br>
    <input  type="password"   name="pass" placeholder="Enter your password"/>
    <br>
    <br>
    <button type="submit">send </button>
</form>
</fieldset>
</body>
</html>